@use "../core/mixin" as *;
@use "../core/font" as *;
.service-head {
  max-width: 50rem;
}
.service-item {
  position: relative;
  height: 100%;
  @include hover {
    .t-text {
      color: var(--color-pri);
    }
    .b-inner {
      .inner {
        &::after {
          height: 200%;
        }
      }
    }
  }
  .b-inner {
    position: relative;
  }
  .inner {
    aspect-ratio: 286 / 450;
    position: relative;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 70.14%,
        rgba(0, 0, 0, 0.8) 100%
      );
      z-index: 1;
      transition: 0.3s ease-in-out;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .t-gr {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1.6rem;
    color: var(--color-white);
    z-index: 2;
    transition: 0.3s ease-in-out;
    @include max(1200px) {
      font-size: 1.4rem;
      padding: 0.8rem;
    }
    .t-text {
      @include fz-24;
      font-weight: 600;
    }
  }
}
.service-list {
  > .col {
    @include max(600px) {
      width: 50%;
    }
  }
}

.qa-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.qa-body {
  margin-top: 1.6rem;
  display: none;
  position: relative;
  z-index: 1;
}

.qa-heading {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 0.4rem;
  position: relative;
  z-index: 1;

  @include max(767px) {
    font-size: 1.2em;
  }

  .title {
    font-weight: 600;
    color: var(--color-text);
    @include fz-24;
  }

  .icon {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    flex-shrink: 0;
    position: relative;

    &::before,
    &::after {
      content: "";
      @include mid;
      background-color: #d60000;
    }

    &::before {
      width: 0.1rem;
      height: 100%;
    }

    &::after {
      height: 0.1rem;
      width: 100%;
    }
  }
}

.qa-item {
  padding: 1.2rem 2.4rem;
  position: relative;
  overflow: hidden;
  &:not(:last-child) {
    border-bottom: 0.1rem solid #ddd;
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 0.4rem;
    background: #d60000;
    transition: 0.3s ease-in-out;
    @include max(768px) {
      width: 0.2rem;
    }
  }
  &.active {
    background-color: #eeeeee;
    &::before {
      height: 100%;
    }
    .icon {
      &::before {
        opacity: 0;
      }
    }
  }

  @include max(767px) {
    padding: 1.6rem;
  }
}

.qa-body {
  margin-top: 1.6rem;
  display: none;
  position: relative;
  z-index: 1;
}
.qa-content {
  li {
    padding-left: 1.2rem;
    position: relative;
    &:not(:last-child) {
      margin-bottom: 0.8rem;
    }
    &::before {
      content: "";
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      background: #d60000;
      top: 0.8rem;
      left: 0;
    }
  }
}
.faq-block,
.abi-block {
  margin-top: 4rem;
}
.sec-abi {
  background: #eeeeee;
}
.abi-head {
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}
.abi-list {
  --rg: 0;
  @include max(768px) {
    --rg: 1.2rem;
  }
  > .col {
    &:not(:nth-child(3n)) {
      border-right: 0.1rem solid var(--cl-border);
    }
    &:not(:nth-child(n + 4)) {
      border-bottom: 0.1rem solid var(--cl-border);
    }
    @include max(768px) {
      width: 50%;
      border: unset !important;
    }
  }
}
.abi-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
  --size: 8rem;
  padding: 4rem;
  @include max(1200px) {
    padding: 2rem 1.2rem;
    --size: 6rem;
  }
  @include max(768px) {
    padding: 2rem 1.2rem;
    --size: 4rem;
    border: 0.1rem solid var(--cl-border);
  }
  .text {
    @include fz-24;
    font-weight: 500;
    color: var(--color-sec);
  }
  .icon {
    width: var(--size);
    height: var(--size);
  }
  .t-num {
    color: var(--color-pri);
    font-weight: 700;
    @include fz-32;
    @include max(768px) {
      font-size: 2rem;
    }
  }
  .txt {
    color: var(--color-text);
  }
}

.abi-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  row-gap: 1.6rem;
  @include max(1200px) {
    gap: 1.6rem;
  }
  .t-links {
    display: flex;
    align-items: center;
    gap: 4rem;
    color: var(--color-sec);
    font-weight: 600;
    transition: 0.3s ease-in-out;
    @include max(1200px) {
      gap: 2.4rem;
    }
    @include max(768px) {
      width: calc(50% - 0.8rem);
      justify-content: center;
      text-align: center;
      padding: 0.8rem;
      background: #fff;
      border-radius: 0.8rem;
      &::after {
        display: none !important;
      }
    }
    @include max(500px) {
      font-size: 1.4rem;
    }
    @include hover {
      color: var(--color-pri);
    }
    &.active {
      color: var(--color-pri);
    }
    &:not(:last-child) {
      &::after {
        content: "";
        display: inline-block;
        width: 0.8rem;
        height: 0.8rem;
        background: var(--color-sec);
        flex-shrink: 0;
        border-radius: 100rem;
      }
    }
  }
}
.abm-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.abm-it {
  display: flex;
  gap: 4rem;
  align-items: center;
  &:nth-child(even) {
    flex-direction: row-reverse;
  }
  @include max(768px) {
    flex-direction: column !important;
  }
  .b-panel {
    flex: 1;
    .t-head {
      @include fz-24;
      font-weight: 700;
      color: var(--color-sec);
      margin-bottom: 2.4rem;
    }
  }
  .b-img {
    flex: 1;
    .inner {
      aspect-ratio: 596/350;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.abvi-img {
  position: relative;
  .icon {
    position: absolute;
    width: 8rem;
    display: block;
    @include mid();
    z-index: 2;
    @include max(768px) {
      width: 6rem;
    }
    @include hover {
      img {
        transform: scale(0.9);
      }
    }
    img {
      @include transitionRe;
    }
  }
  .inner {
    position: relative;
    aspect-ratio: 2/1;
    &::after {
      content: "";
      position: absolute;
      @include full;
      background: var(--color-sec);
      opacity: 0.5;
    }
    img {
      @include imgCover;
    }
  }
}
.abc-panel {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 4rem;
  height: 100%;
  justify-content: flex-end;
  @include max(768px) {
    padding: 1.5rem;
  }
  .b-des {
    padding-right: 1.5rem;
    max-height: 50rem;
    overflow-y: auto;
  }
}
.abc-img {
  height: 100%;
  display: flex;
  align-items: flex-end;
  position: relative;
  z-index: 1;
  padding-top: 8rem;
  .is-dc {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -4rem;
    z-index: -1;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .inner {
    width: 100%;
  }
  img {
    display: block;
    width: 100%;
  }
}
.sec-abc {
  overflow: hidden;
}
.abc-row {
  --rg: 0rem;
  > .col {
    @include max(768px) {
      width: 100% !important;
    }
  }
}
.abc-wrap {
  width: calc((100vw - (100vw - 123rem) / 2));
  max-width: 100%;
}
.sec-abc {
  position: relative;
}
.abc-row {
  .col-left {
    width: 40%;
  }
  .col-right {
    width: 60%;
  }
}
.abh-it {
  background: #eeeeee;
  .b-img {
    .inner {
      aspect-ratio: 380/280;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .b-ctn {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    .t-head {
      @include fz-40;
      font-weight: 600;
      color: var(--color-sec);
    }
  }
}
.abh-slider {
  .col {
    @include max(768px) {
      width: 50%;
    }
    @include max(500px) {
      width: 70%;
    }
  }
}
.abh-head {
  @include max(500px) {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.hbr-head {
  .b-bot {
    @include fz-24;
    font-weight: 500;
    color: var(--color-sec);
    text-align: center;
    position: relative;
    padding-top: 4rem;
    margin-top: 4rem;
    &::before {
      content: "";
      position: absolute;
      width: 10rem;
      height: 0.1rem;
      left: 50%;
      top: 0;
      transform: translateX(-50%);
      background: var(--color-text);
      opacity: 0.2;
    }
  }
}
.hbr-block {
  .b-content {
    max-width: 72rem;
    margin: 0 auto;
    margin-top: 4rem;
    text-align: center;
  }
}
.hbr-item {
  @include mid-flex;
  mix-blend-mode: multiply;
  img {
    display: block;
    height: 8.6rem;
    object-fit: contain;
    width: auto;
  }
}
.hbr-slider {
  pointer-events: none;
  mask-image: linear-gradient(
    to left,
    rgba(0, 0, 0, 0) 0%,
    black 5%,
    black 95%,
    rgba(0, 0, 0, 0) 100%
  );
  .swiper-slide {
    width: auto;
  }
  .swiper-wrapper {
    transition-timing-function: linear !important;
  }
}
.hbr-reward-item {
  text-align: center;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  .num {
    @include fz-40;
    font-weight: 500;
    opacity: 0.2;
  }
  .b-img {
    .inner {
      aspect-ratio: 1/1;
      background: #eeeeee;
      img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
}
.sdi-panel {
  .iwt {
    --cl: var(--color-sec);
    --iz: 1.6rem;
  }
}
.sdi-img {
  position: relative;
  .inner {
    aspect-ratio: 596/335;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .icon {
    position: absolute;
    width: 8rem;
    display: block;
    @include mid();
    z-index: 2;
    @include max(768px) {
      width: 6rem;
    }
  }
}
.sec-sdi {
  background: #eee;
}
.abv-bn {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  .b-img {
    position: absolute;
    width: 100vw;
    left: 50%;
    top: 0;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);
    &::after {
      content: "";
      position: absolute;
      @include full;
      background: rgba(0, 0, 0, 0.3);
      z-index: 1;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    color: var(--color-white);
    font-size: 5.6rem;
    @include max(1200px) {
      font-size: 3.6rem;
    }
    @include max(600px) {
      font-size: 5vw;
    }
    .t-text {
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: #fff;
      font-size: 2em;
      font-weight: 900;
      line-height: 1.2;
    }
    .t-txt {
      font-weight: 900;
      font-size: 1em;
    }
  }
}
.sec-abv {
  overflow: hidden;
}
.abv-group {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  padding-top: var(--pd-sc);
  overflow: hidden;
  @include max(500px) {
    gap: 6rem;
  }
}
.abv-img {
  height: 100%;
  img {
    width: 100%;
    display: block;
    height: 100%;
    object-fit: cover;
  }
}
.abv-panel {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  height: 100%;
  overflow-y: auto;
  .t-head {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    @include max(500px) {
      align-items: center;
      text-align: center;
    }
    &.center {
      align-items: center;
      text-align: center;
    }
    .icon {
      width: 4rem;
      height: 4rem;
      display: block;
    }
    .txt {
      color: var(--color-sec);
      font-size: 2rem;
      font-weight: 600;
    }
  }
  .t-body {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    @include max(500px) {
      align-items: center;
      text-align: center;
    }
  }
  .t-dc {
    color: var(--color-pri);
    font-weight: 900;
    font-size: 8rem;
    @include max(768px) {
      font-size: 4rem;
    }
  }
}
.abv-it {
  .b-row {
    align-items: center;
    --cg: 4rem;
    @include max(768px) {
      flex-direction: column;
      --cg: 2.4rem;
      > .col {
        width: 100% !important;
      }
    }
  }
  .img-dc {
    @include max(768px) {
      max-width: 24rem;
    }
  }
  .hbi-bot {
    color: #eeeeee;
  }
  &.custom {
    @include max(768px) {
      padding: 0 1.5rem;
    }
    .container {
      padding: 0 !important;
      width: calc((100vw - (100vw - 123rem) / 2));
      margin: unset;
      margin-left: auto;
      max-width: 100%;
    }
    .col-left {
      width: 40%;
    }
    .col-right {
      width: 60%;
    }
  }
}
.abv-core {
  width: 60%;
  margin: 0 auto;
  @include max(1320px) {
    width: 46%;
  }
  @include max(1200px) {
    width: 100%;
  }
  @include max(500px) {
    margin-top: 2.4rem;
  }
  .b-main {
    position: relative;
    padding-top: calc((475 / 800) * 100%);
    @include max(1200px) {
      padding-top: 0;
      min-height: 50rem;
      display: flex;
      flex-direction: column;
    }
  }
  .b-list {
    @include max(1200px) {
      display: flex;
      flex-direction: column;
      flex: 1;
      justify-content: center;
      gap: 1.2rem;
    }
  }
  .b-box {
    position: absolute;
    width: 30rem;
    transform: translate(0%, -50%);
    padding: 1.2rem;
    transition: 0.3s ease-in-out;
    @include hover {
      background: rgba(255, 255, 255, 1);
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      .t-text {
        color: var(--color-pri);
      }
    }
    @include max(1200px) {
      position: static;
      transform: unset;
      width: 55%;
      border-radius: 0.4rem;
      text-align: left !important;
      background: rgba(255, 255, 255, 1);
      box-shadow: rgba(149, 157, 165, 0.2);
      .t-text {
        color: var(--color-pri);
      }
    }
    @include max(500px) {
      width: 100%;
    }
    .t-text {
      transition: 0.3s ease-in-out;
    }
    &.x1 {
      right: 100%;
      top: 80%;
    }
    &.x2 {
      right: 90%;
      top: 40%;
    }
    &.x3 {
      left: 90%;
      top: 40%;
      text-align: right;
    }
    &.x4 {
      left: 100%;
      top: 80%;
      text-align: right;
    }
  }
  .b-img {
    position: absolute;
    width: 80%;
    aspect-ratio: 1/1;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    @include max(1200px) {
      width: 35%;
      top: 50%;
      left: unset;
      right: 1.5rem;
      transform: translateY(-50%);
    }
    @include max(500px) {
      width: 80%;
      top: unset;
      top: unset;
      right: unset;
      position: static;
      transform: translate(0%, 30%);
      margin: 0 auto;
    }
    &::before {
      content: "";
      position: absolute;
      width: 115%;
      aspect-ratio: 1/1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 100rem;
      border: 0.1rem solid #242424;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 100rem;
      overflow: hidden;
    }
  }
}
.abv-pos {
  position: relative;
  padding-top: 53%;
  @include max(768px) {
    padding-top: 0;
  }
}
.abv-grid {
  position: absolute;
  @include full;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 2.4rem;
  grid-row-gap: 2.4rem;
  @include max(768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 1.2rem;
    position: static;
  }
}

.abv-box {
  height: 100%;
  width: 100%;
  overflow: hidden;
  @include max(768px) {
    width: calc((100% / 2) - 0.8rem);
    height: auto;
    &:first-child {
      width: 100%;
    }
  }
  &:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
  }
  &:nth-child(2) {
    grid-area: 1 / 2 / 3 / 3;
  }
  &:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }
  &:nth-child(4) {
    grid-area: 2 / 1 / 3 / 2;
  }
  &:nth-child(5) {
    grid-area: 2 / 3 / 3 / 4;
  }
}
.faq-search {
  max-width: 40rem;
}
.faq-se-gr {
  display: flex;
  input {
    flex: 1;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid var(--cl-border);
    outline: unset;
  }
  .btn-se {
    width: 4rem;
    height: 4rem;
    background: var(--color-sec);
    color: #fff;
    @include mid-flex;
  }
}
.news-head {
  .b-select {
    width: 20rem;
  }
}
.stm-it {
  display: flex;
  flex-direction: column;
  height: 100%;
  color: var(--color-white);
  @include hover {
    .b-img {
      .ic-link {
        opacity: 1;
        visibility: visible;
      }
      &::before {
        opacity: 1;
      }
    }
  }
  .b-ctn {
    padding: 3.2rem;
    background: var(--color-sec);
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.2rem;
    @include max(1200px) {
      padding: 1.2rem;
    }
    .line {
      display: block;
      width: 10rem;
      height: 0.1rem;
      background: #fff;
      margin-top: auto;
    }
  }
  .b-img {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      height: 0.2rem;
      bottom: 0;
      width: 100%;
      background: var(--color-pri);
      transform: translateY(50%);
      z-index: 1;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    .inner {
      aspect-ratio: 600 / 280;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .ic-link {
      position: absolute;
      bottom: 0;
      right: 6%;
      transform: translateY(50%);
      width: 3.2rem;
      height: 3.2rem;
      border-radius: 100rem;
      @include mid-flex;
      background: var(--color-pri);
      color: #fff;
      z-index: 3;
      opacity: 0;
      transition: 0.3s ease-in-out;
      visibility: hidden;
    }
  }
}
.stm-list {
  > .col {
    @include max(600px) {
      width: 100%;
    }
  }
}
.sts-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 4rem;
  gap: 1.2rem;
  .b-img {
    display: block;
    width: 16rem;
    height: 16rem;
    border-radius: 100rem;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  .t-name {
    font-weight: 500;
    @include fz-40;
    color: var(--color-sec);
  }
  .txt {
    @include fz-20;
    color: var(--color-pri);
  }
  .text {
    @include fz-32;
    font-weight: 600;
    color: var(--color-text);
  }
}
.sts-content {
  .b-wrap {
    max-width: 100rem;
    margin: 0 auto;
  }
}
.sts-rl-slider {
  .col {
    @include max(600px) {
      width: 100%;
    }
  }
}
.frm-wrap {
  position: relative;
  z-index: 1;
  transform: translateY(-10%);
  border-top: 0.4rem solid var(--color-pri);
  max-width: 85rem;
  margin: 0 auto;
  background: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 2.4rem;
  @include max(1200px) {
    padding: 1.2rem;
    transform: unset;
    margin-top: 4rem;
  }
}
.frm-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
  max-width: 50rem;
  margin: 0 auto;
}
.frm-form {
  .b-bot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    margin-top: 2.4rem;
  }
  .col {
    @include max(768px) {
      width: 100%;
    }
  }
}
.sas-slider {
  .col {
    @include max(1024px) {
      width: calc(100% / 3);
    }
    @include max(600px) {
      width: 50%;
    }
  }
}
.wh-it {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  text-align: center;
  @include max(1024px) {
    padding: 0.8rem;
    border: 0.1rem solid var(--cl-border);
    border-radius: 0.4rem;
  }
  @include max(500px) {
    font-size: 1.4rem;
  }
  .icon {
    --size: 8rem;
    width: var(--size);
    height: var(--size);
    @include max(1024px) {
      --size: 4.2rem;
    }
  }
}
.wh-list {
  > .col {
    @include max(1024px) {
      width: 50%;
    }
  }
}
.sdi-row {
  > .col {
    @include max(1024px) {
      width: 100%;
    }
  }
}
.wh-wrap {
  padding-bottom: 2.4rem;
}
.sec-wh .hbi-bot {
  color: #eeeeee;
}
.prj-item {
  position: relative;
  &.prj-main {
    .b-img {
      position: absolute;
      @include full;
      z-index: -1;
      &::after {
        content: "";
        position: absolute;
        @include full;
        background: linear-gradient(
          180deg,
          rgba(0, 0, 0, 0) 45%,
          rgba(0, 0, 0, 0.8) 100%
        );
      }
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .b-ctn {
      aspect-ratio: 1200 / 600;
      padding-top: 8rem;
      min-height: 40rem;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding: 2.4%;
      gap: 1.2rem;
      color: var(--color-white);
      @include max(1200px) {
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
      }
    }
    .box-info {
      max-width: 60rem;
      .title {
        @include fz-40;
        font-weight: 500;
        @include lc(2);
        transition: 0.3s ease-in-out;
        @include hover {
          color: var(--color-pri);
        }
      }
      .t-des {
        @include fz-16;
        @include lc(3);
      }
    }
  }
  &:not(.prj-main) {
    .b-img {
      aspect-ratio: 286 / 242;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .b-ctn {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
      margin-top: 1.2rem;
    }
    .box-info {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
    .title {
      @include fz-20;
      @include lc(2);
      font-weight: 500;
    }
    .t-des {
      @include fz-16;
      @include lc(3);
    }
  }
}
.prj-control {
  .swiper-pagination {
    display: none;
  }
}
.prj-slider {
  margin-top: 2.4rem;
  @include max(1200px) {
    margin-top: 1.2rem;
  }
  .swiper {
    &-slide {
      @include max(1200px) {
        width: calc(100% / 3);
      }
      @include max(768px) {
        width: 50%;
      }
      @include max(500px) {
        width: 75%;
      }
    }
  }
}
.prj-se-block {
  max-width: 70rem;
  margin: 0 auto;
}
.prj-se-slider {
  .swiper-slide-active {
    .prj-item.prj-main {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      .b-ctn {
        opacity: 1;
        transform: unset;
        visibility: visible;
      }
    }
  }
  .prj-item.prj-main {
    transition: 0.75s ease-in-out;
    clip-path: polygon(0 20%, 100% 20%, 100% 100%, 0% 100%);
    .title {
      font-size: 2.4rem;
    }
    .b-ctn {
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      min-height: 54rem;
      opacity: 0;
      transition: 0.75s ease-in-out;
      transform: translateY(10%);
      visibility: hidden;
      @include max(768px) {
        min-height: 34rem;
      }
    }
  }
}
.prj-se-slider {
  .swiper,
  .swiper-container {
    overflow: visible;
  }
}
.sff-head {
  @include max(1024px) {
    text-align: center;
  }
}
.sff-row {
  .col {
    @include max(1024px) {
      width: 100%;
    }
  }
}
.sff-group {
  display: flex;
  gap: 2.4rem;
  @include max(600px) {
    flex-direction: column;
  }
}

.sff-box {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  padding: 1.2rem;
  border: 0.1rem solid var(--cl-border);
  flex: 1;
  .icon {
    display: block;
    --size: 12rem;
    width: var(--size);
    height: var(--size);
    @include max(1024px) {
      --size: 8rem;
    }
    @include max(600px) {
      --size: 6rem;
    }
  }
  .t-gr {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    .text {
      @include fz-20;
      color: var(--color-pri);
      font-weight: 300;
    }
    .t-num {
      font-weight: 700;
      color: var(--color-sec);
      @include fz-32;
    }
    .txt {
      @include fz-16;
      color: var(--color-text);
      font-weight: 300;
    }
  }
}
.sff-wrap {
  padding-top: var(--pd-sc);
  border-top: 0.1rem solid var(--cl-border);
}
.sec-sser {
  background: var(--color-sec);
  padding: var(--pd-sc) 0;
}
.sser-slider {
  .service-item {
    .inner {
      aspect-ratio: 389/286;
    }
  }
}
.sec-prj-se,
.sec-sser {
  overflow: hidden;
}
.sser {
  position: relative;
}
.sser-slider {
  position: relative;
  .swiper,
  .swiper-container {
    overflow: visible;
  }
  .swiper-control {
    justify-content: center;
  }
  .swiper-slide {
    @include max(1024px) {
      width: 50%;
    }
    @include max(768px) {
      width: 75%;
    }
  }
}
.ssh-timeline {
  display: flex;
  gap: 2.4rem;
  .b-time {
    @include fz-16;
    color: var(--color-text);
    font-weight: 700;
  }
}
.ssh-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.ssh-bg {
  position: relative;
  aspect-ratio: 8 / 3;

  .inner-img {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100%;
    &::after {
      content: "";
      position: absolute;
      @include full;
      background: rgba(24, 24, 24, 0.6);
    }
    .img-wrap {
      height: 100%;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .inner-ctn {
    position: absolute;
    @include full;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.4rem;
    .b-year {
      color: var(--color-white);
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-width: 0.2rem;
      -webkit-text-stroke-color: #fff;
      @include fz-96;
      font-weight: 900;
    }
    .b-logo {
      display: flex;
      max-width: 60rem;
      img {
        display: block;
        width: 100%;
      }
    }
  }
}
.ssh-panel {
  .b-container {
    width: calc((100vw - (100vw - 120rem) / 2));
    margin-left: auto;
    max-width: 100%;
  }
}
.ssh-wr {
  .b-flex {
    display: flex;
    gap: 3.2rem;
    .col-left {
      flex: 1;
    }
    .col-right {
      width: 50vw;
    }
  }
}
.ssh-item {
  &:nth-child(even) {
    .b-container {
      margin-left: unset;
    }
    .ssh-wr {
      .b-flex {
        flex-direction: row-reverse;
      }
    }
  }
}
.ssh-imgs {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: calc(100vh - var(--size-hd));
  .b-img {
    position: absolute;
    @include full;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.ssh-ctn {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  .box-it {
    .t-head {
      @include fz-40;
      font-weight: 900;
      color: var(--color-text);
      margin-bottom: 2.4rem;
    }
    .b-content {
      display: flex;
      flex-direction: column;
      gap: 4rem;
      .t-gr {
        display: flex;
        gap: 1.2rem;
        &:not(:last-child) {
          border-bottom: 0.1rem solid var(--cl-border);
          padding-bottom: 4rem;
        }
      }
      .t-num {
        font-weight: 700;
        font-size: 2rem;
        color: var(--color-text);
        display: inline-block;
        width: 6rem;
        flex-shrink: 0;
      }
      .txt {
        color: var(--color-txt);
        @include fz-20;
      }
      .b-media {
        display: flex;
        gap: 1.2rem;
        margin-top: 1.2rem;
        .img-aw {
          width: calc(100% / 3);
        }
        img {
          display: block;
          width: 100%;
        }
      }
    }
  }
}

.ssh-item {
  padding-top: var(--size-hd);
}
