@use "../core/mixin" as *;
@use "../core/font" as *;
.sec-hct {
  position: relative;
  overflow: hidden;
}
.hct {
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-panel {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    @include max(768px) {
      text-align: center;
      align-items: center;
    }
    .b-phone.iwt {
      --cl: var(--color-sec);
      --iz: 2.4rem;
      --fz: 2.4rem;
      --fw: 600;
      @include max(768px) {
        --fz: 1.6rem;
      }
    }
  }
  &-row {
    --rg: 4rem;
    > .col {
      @include max(768px) {
        width: 100%;
      }
    }
  }
  &-form {
    .btn.m-left {
      @include max(768px) {
        margin: 0 auto;
      }
    }
  }
}
.env-head {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.env-gal-list {
  --rg: 0.8rem;
  --cg: 0.8rem;
  .env-gal-item {
    .inner {
      aspect-ratio: 370/240;
      cursor: pointer;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.tab-list {
  display: flex;
  gap: 2.4rem;
  flex-wrap: wrap;
  .t-link {
    color: var(--color-text);
    font-weight: 700;
    opacity: 0.6;
    transition: 0.3s ease-in-out;
    &.active {
      opacity: 1;
      color: var(--color-sec);
    }
  }
}
.ser-panel {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.sers-it {
  position: relative;
  .b-img {
    aspect-ratio: 1/1;
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .b-ctn {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--color-white);
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    z-index: 10;
    .t-text {
      font-size: 2.4rem;
    }
    .t-link {
      color: var(--color-white);
      text-decoration: underline;
      display: none;
    }
  }
}
.sec-ser {
  overflow: hidden;
}
// .ser-wrap {
//   position: relative;
//   padding-top: calc(744 / 1504 * 100%);
// }
.ser-thumb {
  position: absolute;
  @include full;
  .swiper {
    overflow: visible;
    &-slide {
      width: 38rem;
    }
    &-container {
      overflow: visible;
    }
  }
}
