extends layout/layout

block vars
    -title = ''
    -bodyClass = 'page-about page-py'
    -hdClass = 'hd-second'

block container
   .bnt
      .container 
         .bnt-wrap 
            +breadCrumb(["Về chúng tôi"])
            .bnt-head(data-aos="fade-up")
               span.txt Giải pháp logistics toàn diện
               h1.title KẾT NỐI TOÀN CẦU VẬN HÀNH TỐI ƯU
            .bnt-dc 
               .inner(data-aos="fade")
                  +img("bnt-dc.png")
      .bnt-slider 
         .b-sw.slideFade.posi-rl
            +SwiperControl("bnt-control")
            +Swiper()
               each i,index in Array(3)
                  .swiper-slide 
                     .bnt-it 
                        .inner 
                           +img(`bnt-slide (${index + 1}).jpg`)
   .abi-py.ss-pd
      .abi-links 
         a(href="").t-links
            | Về Interlink
         a(href="").t-links
            | Hệ giá trị tư tưởng
         a(href="").t-links
            | Lịch sử hình thành
         a(href="").t-links
            | Hiệp hội & Giải thưởng
   section.sec-abi.ss-pd-t
      .container 
         .abi 
            .abi-wrap 
               .abi-head
                  +title("Chúng tôi đáp ứng mọi nhu cầu logistics của bạn","VỀ INTERLINK")
                  .t-des.mt-12
                     p
                        | Lorem Ipsum chỉ đơn giản là một đoạn văn bản giả, được dùng vào việc trình bày và dàn trang phục vụ cho in ấn.
               .abi-block 
                  .abi-list.row 
                     each i,index in Array(6)
                        .col.col-4 
                           .abi-it 
                              span.text Khởi điểm
                              span.icon 
                                 +img(`ic-abi (${index + 1}).svg`)
                              .t-num 
                                 span.countNum 18270 
                                 |  m2
                              span.txt Năm
      .hbi-bot
         | INTERLINK
   .abvi 
      .abvi-img 
         .inner 
            +img("abv-img.jpg")
         a(href="").icon
            +img("ic-play.svg")
   section.sec-abh.ss-pd 
      .container 
         .abh 
            .abh-wrap.slideSw
               .abh-head.mb-40.d-flex.j-bw
                  +title("Quá trình thành lập Interlink đến hiện tại","LỊCH SỬ HÌNH THÀNH")
                  +SwiperControl()
               .abh-block 
                  .abh-slider 
                     .b-sw 
                        +Swiper()
                           each i,index in Array(4)
                              .swiper-slide.col.col-4 
                                 .abh-it 
                                    .b-img 
                                       .inner 
                                          +img("abh-img.jpg")
                                    .b-ctn 
                                       .t-head 2002
                                       p.t-des 
                                          | Thành lập Interlink
   section.sec-hbr.ss-pd
      .container 
         .hbr 
            .hbr-wrap
               .hbr-head.mb-40
                  .b-head.t-center
                     span.txt.c-sec.t18 Những thành tựu đã đạt được suốt hơn 20 năm Interlink hoạt động
                     .head 
                        h2.t-title 
                           | CHỨNG NHẬN & GIẢI THƯỞNG
                  .b-bot 
                     | Chứng nhận
               .hbr-block
                  .hbr-slider.slideSw
                     +Swiper()
                        each i,index in Array(5)
                           .swiper-slide.col-3.col
                              .hbr-item 
                                 .b-img 
                                    .inner 
                                       +img("hbr-img.png")
                  .b-content 
                     .mona-content 
                        p 
                           | Đến năm 2030, Interlink sẽ trở thành công ty cung ứng dịch vụ  Logistics tốt nhất tại Việt Nam, đồng thời đứng ở vị trí số một trong  tâm trí khách hàng.
                        p 
                           | Các giải thưởng & chứng nhận đạt được trong & ngoài nước  trong suốt 20 năm qua là minh chứng cho chất lượng dịch vụ & vị thế  của mình trong ngành logistics Việt Nam.
            .hbr-wrap.hbr-reward
               .hbr-head.mb-40
                  .b-bot 
                     | Giải thưởng
               .hbr-block
                  .hbr-slider.slideSw
                     +Swiper()
                        each i,index in Array(5)
                           .swiper-slide.col-3.col
                              .hbr-reward-item
                                 span.num 2013
                                 .b-img 
                                    .inner 
                                       +img("hbr-img-reward.jpg")
                                 p.t-des Giải thưởng Thương hiệu
                                    | được khách hàng lựa chọn
                  .b-content 
                     .mona-content
                        p 
                           | Interlink vinh dự nhận được rất nhiều giải thưởng trong quá trình phát  triển của mình. Nhưng điều đáng tự hào nhất vẫn là sự đồng hành win-win  cùng khách hàng và luôn được khách hàng yêu mến và tin dùng trong 20 năm qua
   +form()